{
  "presets": [
    ["@babel/env", {
      "targets": {
        "browsers": [
          "defaults",
          "ie 11"
        ]
      },
      "useBuiltIns": "entry",
      "shippedProposals": true
    }],
    "@babel/preset-react"
  ]
}